/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Example style */
.wrap {
	font-size: 14px;
	line-height: 1.8;
	font-family: Helvetica, Arial, Sans-Serif;
	width: 100%;
	max-width: 600px;
	padding: 100px 0 0;
	margin: 0 auto;
	color: #202020;
	min-width: 200px;
}
a {
	color: #2ecc71;
}
h1, p, img, ul {
	display: block;
	margin-bottom: 40px;
}
h1 {
	text-align: center;
	font-size: 32px;
}
p {
	text-align: justify;
	padding: 0 20px;
}
img {
	width: 100%;
}
.copy, ul {
	text-align: center;
}
.github-ribbon img {
	width: auto;
}